body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  text-align: center;  
  color: blue;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: lightyellow;
  padding: 4px;
  border: 1px solid tan;  
}
